<a href="https://colab.research.google.com/github/yokesh412/Live-Data-Stock-Prediction/blob/main/Live_Data_Stock_Prediction_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
### Data Collection
import pandas_datareader as pdr
key="9ddacba41bee7bb2d505892ba4614759c637994b"

In [2]:
df = pdr.get_data_tiingo('AAPL', api_key=key)

/usr/local/lib/python3.7/dist-packages/pandas_datareader/tiingo.py:234: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  return pd.concat(dfs, self._concat_axis)

In [3]:
df.head()

                                   close    high      low    open    volume  \
symbol date
AAPL   2017-09-14 00:00:00+00:00  158.28  159.40  158.090  158.99  23073646
       2017-09-15 00:00:00+00:00  159.88  160.97  158.000  158.47  48203642
       2017-09-18 00:00:00+00:00  158.67  160.50  157.995  160.11  27939718
       2017-09-19 00:00:00+00:00  158.73  159.77  158.440  159.51  20347352
       2017-09-20 00:00:00+00:00  156.07  158.26  153.830  157.90  51693239

                                   adjClose    adjHigh     adjLow    adjOpen  \
symbol date
AAPL   2017-09-14 00:00:00+00:00  37.552459  37.818183  37.507381  37.720909
       2017-09-15 00:00:00+00:00  37.932064  38.190671  37.486028  37.597537
       2017-09-18 00:00:00+00:00  37.644988  38.079162  37.484842  37.986633
       2017-09-19 00:00:00+00:00  37.659223  37.905967  37.590420  37.844281
       2017-09-20 00:00:00+00:00  37.028129  37.547714  36.496682  37.462303

                                  adjVolume  divCash  splitFactor
symbol date
AAPL   2017-09-14 00:00:00+00:00   92294584      0.0          1.0
       2017-09-15 00:00:00+00:00  192814568      0.0          1.0
       2017-09-18 00:00:00+00:00  111758872      0.0          1.0
       2017-09-19 00:00:00+00:00   81389408      0.0          1.0
       2017-09-20 00:00:00+00:00  206772956      0.0          1.0

In [4]:
df.shape

(1257, 12)

In [5]:
df.to_csv('AAPL.csv')

In [6]:
import pandas as pd

In [7]:
df=pd.read_csv('AAPL.csv')

In [8]:
df.head()

,symbol,date,close,high,low,open,volume,adjClose,adjHigh,adjLow,adjOpen,adjVolume,divCash,splitFactor
0,AAPL,2017-09-14 00:00:00+00:00,158.28,159.40,158.090,158.99,23073646,37.552459,37.818183,37.507381,37.720909,92294584,0.0,1.0
1,AAPL,2017-09-15 00:00:00+00:00,159.88,160.97,158.000,158.47,48203642,37.932064,38.190671,37.486028,37.597537,192814568,0.0,1.0
2,AAPL,2017-09-18 00:00:00+00:00,158.67,160.50,157.995,160.11,27939718,37.644988,38.079162,37.484842,37.986633,111758872,0.0,1.0
3,AAPL,2017-09-19 00:00:00+00:00,158.73,159.77,158.440,159.51,20347352,37.659223,37.905967,37.590420,37.844281,81389408,0.0,1.0
4,AAPL,2017-09-20 00:00:00+00:00,156.07,158.26,153.830,157.90,51693239,37.028129,37.547714,36.496682,37.462303,206772956,0.0,1.0

In [9]:
df1=df.reset_index()['close']